.navbar 
  &-block
    display: flex
    justify-content: space-around
  &__button
    border: 1px solid #F53855
    box-sizing: border-box
    border-radius: 50px
    text-decoration: none
    color: #F53855
