.offer
  &-block
    display: flex
    justify-content: space-evenly        //*space-around 
    height: 200px
    align-items: center
    transition: 0.4s
    margin-bottom: 100px
    box-shadow: 0px 35px 42px 0px rgba(0,0,0,0.06)
    &__title
      display: flex
      align-items: center
    &__subtitle
      display: flex
      flex-direction: column
      padding-left: 27px
    &__image
      background: $offer-image
      border-radius: 70px
      width: 55px
      height: 55px
      display: flex
      justify-content: center
      align-items: center
    &__numb
      font-size: 25px
      line-height: 30px
      font-weight: 700
    &__text
      color: $text-color
      font-size: 20px
      line-height: 30px
@media ( max-width: 768px)
  .offer
    &-block
      display: block
      height: 220px
      &__image
        margin-left: 20px
      &__title
        justify-content: space-between
        margin-bottom: 15px
      &__subtitle
        margin-right: 20px
      &__numb
        text-align: end
        font-size: 20px
      &__text
        font-size: 15px
      &__vector
        display: none
