.provide
  &-block
    display: flex
    justify-content: space-between
    margin-bottom: 210px
  &-text
    flex-basis: 50%
    margin-left: 150px
    &__title
      font-weight: 500
      font-size: 35px
      line-height: 50px
      width: 390px
    &__subtitle
      font-size: 16px
      line-height: 30px
      max-width: 430px
      color: #4F5665
  &__image
    margin: auto
    margin-top: -200px
    z-index: -1
  &-list
    padding: 0
    list-style: none
    align-items: center
    &__item
      display: flex
      align-items: flex-start
    &__img
      margin-right: 12px
      margin-bottom: 25px
    &__text
      color: #4F5665
      font-size: 14px
      line-height: 30px
